[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "jaatha"]
	path = jaatha
	url = https://github.com/statgenlmu/jaatha
	shallow = true
	registered = true
